body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffc017;
  transition: background-color 0.5s ease;
  border-bottom: solid 1px black;
}

.scrolled {
  background-color: white;
}

header img {
  width: 10%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; /* Spaziatura tra gli elementi */
  padding: 1rem;
}

nav * {
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  color: black;
}

nav button {
  background-color: black;
  color: white;
  border-radius: 35px;
  padding: 0.7rem;
  padding-inline: 1rem;
  transition: background-color 0.5s ease;
}

.scrolledBtn {
  background-color: green;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
  margin: 0;
}

.hero {
  background-color: #ffc017;
  padding-left: 12rem;
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

#tM {
  width: 36%;
  position: relative;
}

.heroText {
  padding-block: 6rem;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 9rem;
  letter-spacing: -10px;
}

.heroText p {
  margin-block-start: 2.3rem;
  margin-block-end: 3.3rem;

  font-size: 2rem;
  font-weight: 400;
}

.heroText button {
  background-color: black;
  color: rgb(255 255 255 / 95%);
  border-radius: 35px;
  padding: 0.7rem;
  padding-inline: 4rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

section {
  padding-inline: 12rem;
  padding-block: 2rem;
}

.headSection {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.headSection img {
  vertical-align: middle;
  display: inline-block;
  width: 3.3%;
  margin-right: 10px;
}

.headSection h3 {
  font-size: 1.2rem;
  display: inline-block;
  margin: 0;

  letter-spacing: 1px;
  font-weight: 500;
}

.trendContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}

.sectionCard {
  width: 33.333%;
  flex-grow: inherit;
  margin-bottom: 5rem;
  display: flex;
  justify-content: start;
}

.cardNumbers {
  font-family: sans-serif;
  float: left;
  margin-right: 1rem;
  font-size: 2.8rem;
  font-weight: 800;
  color: #e6e7e7;
  letter-spacing: -2px;
}
.cardImg {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  margin-bottom: 2.5rem;
  font-size: 1rem;
}

.cardImg img {
  margin-right: 0.8rem;
  border-radius: 50%;
  width: 7%;
}

.cardImg span {
  color: #79777581;
}

.cardText {
  margin-top: 0.4rem;
}

.cardText span {
  font-size: 1.4rem;
  font-weight: 600;
}

.opacText {
  margin-top: 1.5rem;
  color: #797775;
  font-size: 1rem;
}

.opacText img {
  vertical-align: text-bottom;
}

.lhr {
  border: none;
  height: 1px;
  background-color: rgba(120, 120, 120, 0.261);
  margin: 0;
}

article {
  margin-top: 7rem;
  padding-left: 12rem;
  padding-right: 12rem;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleCard {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 4rem;
}

.mainImg {
  width: 28%;
}

.cardContent {
  margin-right: 2rem;
  width: 55%;
}

.cardImgArticle {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1rem;
  letter-spacing: 0.2px;
}

.cardImgArticle img {
  margin-right: 0.8rem;
  border-radius: 50%;
  width: 5%;
}

.cardTextArticle {
  margin-top: 0.4rem;
}

.cardTextArticle span {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.cardTextArticle p {
  font-size: 1.1rem;
  color: #797775;
  margin-top: 1rem;
  letter-spacing: 1px;
  line-height: 20px;
}

.lowCard {
  display: flex;
  justify-content: space-between;
}

#book {
  width: 6%;
}

.opacTextArticle {
  margin-top: 1rem;
  color: #797775;
  font-size: 1rem;
}

.opacTextArticle button {
  background-color: #f2f3f3;
  border-radius: 20px;
  font-size: 1rem;
  color: #7f7f7fb6;
  border: none;
  padding: 0.5rem;
  font-weight: 600;
}

.opacTextArticle img {
  vertical-align: text-bottom;
  margin-left: 0.5rem;
}

aside {
  width: 55%;
}
aside p {
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-style: bold;
}

.science {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.science button {
  background-color: white;
  border-color: #7977750f;
  font-size: 1rem;
  color: #797775a8;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin: 0.3rem;
  font-weight: 600;
  border-radius: 4px;
}

.asideLinks {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.asideLinks a {
  font-weight: 600;
  margin-top: 1rem;
  margin-right: 2rem;
  text-decoration: none;
  font-size: 1rem;
  color: #797775c5;
}
